<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Budget-friendly Restaurants in Kochi</h2>
  
  <!-- Restaurant Card 1 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/l/t/p110686-166858741063749f922e63d.jpg?tr=tr:n-medium" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Warehouse Cafe & Restaurant</h2>
          <p>Kochi</p>
          <p>Affordable Restaurant</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹450 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 2 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://lh3.googleusercontent.com/A2HTF0CRnlfSKrUu7FJ8rMdbLovG-4is6QEH0FZY6zWzaBBxRrKE93ViJU7OpoKRc7I7WF5XcULzh5XlYTsklv7EbJ1H=w1200-rw" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Paragon</h2>
          <p>Kochi</p>
          <p>Best food at an affordable price</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 3 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/b8/63/85/our-face.jpg?w=1200&h=-1&s=1" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Canvas</h2>
          <p>Kochi</p>
          <p>Amazing food and service</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹400 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 4 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/22/29/78/ba/nikkah-biryani.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Restaurant Chef Pillai</h2>
          <p>Delhi</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 5 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/03/a2/5b/7a/loafer-s-corner.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Loafers Corner Cafe</h2>
          <p>Kochi</p>
          <p>Can have quality time here</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>