<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Budget-friendly Restaurants in Vizag</h2>
  
  <!-- Restaurant Card 1 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/chains/3/2800083/2598f0d835a74113507a34eea43e155e.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>My Restaurant</h2>
          <p>Vishakpatnam</p>
          <p>Affordable Restaurant</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹450 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 2 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMpcuJYpFXeawW4e5BY8CvlRDQwJUlVfDqUG7tlijT6yr_YvgyP-4ETde83ItA1mOKnRY&usqp=CAU" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Zeeshan Restaurant</h2>
          <p>Vishakpatnam</p>
          <p>Best food at an affordable price</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 3 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://content.jdmagicbox.com/comp/visakhapatnam/v8/0891px891.x891.230907101508.p2v8/catalogue/bot-9-ai-themed-restaurant-pothinamallayya-palem-visakhapatnam-restaurants-0g3u05i6tq.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Bot 9 AI Themed Restaurant</h2>
          <p>Vishakpatnam</p>
          <p>Amazing food and service</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹400 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 4 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/9a/0f/23/a-symphony-of-flavors.jpg?w=1200&h=-1&s=1" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Varun's Eat Restaurant </h2>
          <p>Vishakpatnam</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 5 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/7/20674407/31925247a0141db017dbfa5d780c3cb5.jpg?fit=around|960:500&crop=960:500;," class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Hotel Jas</h2>
          <p>Vishakpatnam</p>
          <p>Can have quality time here</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>