<ion-header>
  <ion-toolbar class="navbar">
    <ion-title>Dine Out</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/table-booking">Table-Booking</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Section Heading -->
  <div class="section-heading">
    <h2>Explore Our Dining Options</h2>
  </div>

  <div class="cards-container">
    <!-- Loop through restaurantCards array -->
    <ion-card *ngFor="let card of restaurantCards" class="restaurant-card">
      <ion-img [src]="card.imageUrl" [alt]="card.altText"></ion-img>
      <ion-card-header class="card-header">
        <ion-card-title>{{ card.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>