<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Best Pubs/bars in Kochi</h2>
  
  <!-- Restaurant Card 1 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://th-i.thgim.com/public/incoming/abcnk9/article66964437.ece/alternates/FREE_1200/HVE06876-HDR.JPG" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Watson's</h2>
          <p>Kochi</p>
          <p>Amazing Resto bar, Our absolute fav</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 2 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://d4t7t8y8xqo0t.cloudfront.net/app//resized/818X450/restaurant/687668/restaurant320230322072556.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Blue Rock Resto Bar</h2>
          <p>Kochi</p>
          <p>Superb drinks and vibe, nice service</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 3 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://1033609670.rsc.cdn77.org/rests/original/110_507293523.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Rocks & Brews</h2>
          <p>Kochi</p>
          <p>Good ambience, good food and drinks</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 4 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://cdn.venuelook.com/uploads/space_13597/1515147526_595x400.png" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Mattancherry Bar</h2>
          <p>Kochi</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 5 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://pix8.agoda.net/hotelImages/437/43751/43751_14041117430019054687.jpg?ca=2&ce=1&s=1024x768" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Mezzo</h2>
          <p>Kochi</p>
          <p>Can vibe with friends</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>