<ion-content>

 <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h2>Dine-out</h2>
    </div>

  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Premium Restaurants in Delhi</h2>
  
  <ion-card class="restaurant-card">
    <ion-img src="https://cdn.holidaytravel.co/uploaded_files/destination_img/2016_495800f08dd4905michelin-star-best-restaurants-in-delhi-mumbai---india-qpr.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Megu Restaurant</h2>
          <p>Delhi</p>
          <p>Amazing Restaurant</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹900 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5F4SMLP9mb6GdryArfVRpApPMvZZr_vVStA&s" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>The Imperial Spice</h2>
          <p>Delhi</p>
          <p>Extraordinary food and vibe</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/9/305839/f8723badb1a5b3b2e9384b371a51309d.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Kiyan</h2>
          <p>Delhi</p>
          <p>Good ambienec,good service and food</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU0i3ZxfVhcctQCUYVN2ZGufym6yhJuy1TmA&s" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Indian Accent</h2>
          <p>Delhi</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/1/2701/f0673289ac0adbea33cd373a4fbf1e01.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Orient Express</h2>
          <p>Delhi</p>
          <p>Can have quality time here</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>