<ion-content>

  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Premium Restaurants in Kochi</h2>
  
  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/12/99/9b/2b/img-20180410-wa0084-largejpg.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Zoka</h2>
          <p>Kochi</p>
          <p>Amazing Restaurant</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹1000 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://im.whatshot.in/img/2023/Jun/1-1687752423.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Skygrill</h2>
          <p>Kochi</p>
          <p>Extraordinary food and vibe</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/18/af/ae/88/thai-soul.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Thai Soul</h2>
          <p>Kochi</p>
          <p>Good ambienec,good service and food</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/28/5a/7e/b0/feast-your-eyes-on-the.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Roastown Global Grill-Cochin</h2>
          <p>Kochi</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXHZy8n_qMNJGD5yab3fGq4wjJDoG7DF6JsA&s" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Fusion Bay</h2>
          <p>Kochi</p>
          <p>Can have quality time here</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹1500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>