<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Best Pubs/bars in Delhi</h2>
  
  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/0/19062150/d20318bf19d68ba1e5b6997ff71d3ad7.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>World of My Bar</h2>
          <p>Delhi</p>
          <p>Amazing Resto bar, Our absolute favorite</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹400 for 2</span>
        </div>
      </div>
      <ion-icon name="heart-outline" slot="end" class="fav-icon"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://images.jdmagicbox.com/v2/comp/delhi/e4/011pxx11.xx11.150601181728.c9e4/catalogue/my-bar-headquarters-connaught-place-delhi-north-indian-restaurants-tsonebu0pl.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>My Bar Headquarters</h2>
          <p>Delhi</p>
          <p>Superb drinks and vibe, nice service</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
      <ion-icon name="heart-outline" slot="end" class="fav-icon"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://cdn2.advanceinfotech.org/bharatdirectory.in/1200x675/business/256/white3-1679302606.webp" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>White Club</h2>
          <p>Delhi</p>
          <p>Good ambience, good food and drinks</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
      <ion-icon name="heart-outline" slot="end" class="fav-icon"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
