<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Budget-friendly Restaurants in Vizag</h2>

  <ng-container *ngFor="let restaurant of restaurants">
    <div *ngIf="restaurant.isFeatured" class="featured-badge">Featured</div>

    <ion-card class="restaurant-card">
      <ion-img [src]="restaurant.image" class="restaurant-img"></ion-img>
      <ion-card-content>
        <div class="restaurant-details">
          <div class="info">
            <h2>{{ restaurant.name }}</h2>
            <p>{{ restaurant.location }}</p>
            <p>{{ restaurant.description }}</p>
          </div>
          <div class="meta">
            <ion-badge color="success">{{ restaurant.rating }}</ion-badge>
            <span>{{ restaurant.price }}</span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
