<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>
  </div>
  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Best Pubs/bars in Amritsar</h2>
  
  <!-- Restaurant Card 1 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/09/93/1d/pyramid-amritsar.jpg?w=700&h=-1&s=1" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Pyramid</h2>
          <p>Amritsar</p>
          <p>Amazing Resto bar, Our absolute fav</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 2 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/45/dd/85/getlstd-property-photo.jpg?w=1200&h=-1&s=1" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Egyptian Brewery</h2>
          <p>Amritsar</p>
          <p>Superb drinks and vibe, nice service</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 3 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://media.bookeventz.com/html/bookeventz.com/images/restaurant-picture/irish-beach-15886504021031590240642-0.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Irish Beach</h2>
          <p>Amritsar</p>
          <p>Good ambience, good food and drinks</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 4 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/07/f0/20/64/peddlers-amritsar.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Peddlers</h2>
          <p>Amritsar</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 5 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/421129729.jpg?k=8a68ac3a7cfd426d50a5b9f5350f26704c570787928616069b85d933683378e4&o=&hp=1" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Nimo Club Amritsar</h2>
          <p>Amritsar</p>
          <p>Can vibe with friends</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>