<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="booking-container">
    <h1>Select Date and Time</h1>
    <ion-item>
      <ion-label position="floating">Select Date</ion-label>
      <ion-datetime [(ngModel)]="selectedDate" displayFormat="MMM DD, YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Select Time</ion-label>
      <ion-select [(ngModel)]="selectedTime">
        <ion-select-option value="12:00">12:00 PM</ion-select-option>
        <ion-select-option value="13:00">1:00 PM</ion-select-option>
        <ion-select-option value="14:00">2:00 PM</ion-select-option>
        <ion-select-option value="15:00">3:00 PM</ion-select-option>
        <ion-select-option value="16:00">4:00 PM</ion-select-option>
        <ion-select-option value="17:00">5:00 PM</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="full" id="open-toast" (click)="confirmBooking()">Book Now</ion-button>
    <ion-toast
      trigger="open-toast"
      [duration]="3000"
      message="Booking confirmed!"
      class="custom-toast"
      [buttons]="toastButtons">
    </ion-toast>
  </div>
</ion-content>
