<ion-content>
  <div class="restaurant-package-container">
    <div class="header-section">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon> 
      </ion-button>
      <h2>Dine-out</h2>
    </div>

  <h2 style="padding-left: 10px; font-weight: bold; color: rgb(0, 0, 0);">Premium Restaurants in Amritsar</h2>
  
  <!-- Restaurant Card 1 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/0/20295600/a41d5f48f44ab5d6c5512e80200cf4b5.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Ambrocia Restaurant</h2>
          <p>Amritsar</p>
          <p>Amazing Restaurant</p>
        </div>
        <div class="meta">
          <ion-badge color="success">5.0</ion-badge>
          <span>₹2000 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="restaurant-card">
    <ion-img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/97/13/69/photo1jpg.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Crystal Restauran</h2>
          <p>Amritsar</p>
          <p>Extraordinary food and vibe</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.0</ion-badge>
          <span>₹800 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 3 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://content.jdmagicbox.com/comp/amritsar/r3/0183px183.x183.220331235237.z8r3/catalogue/hangries-sultanwind-amritsar-restaurants-cbbvt2bb64.jpg" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Hangries amritsar</h2>
          <p>Amritsar</p>
          <p>Good ambienec,good service and food</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.5</ion-badge>
          <span>₹700 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 4 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://lh3.googleusercontent.com/CaNs3MQeSTo5YjqmlUnEGcNrJGJMrbw6DZlknxI1C-3ohH5xaDvA1hb2CG9NIFEZYXxrycOghFjQWrjPJ8AGlm4Mxw=w192-rw" class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Astoria Food Pavilion</h2>
          <p>Amritsar</p>
          <p>Customer servive is amazing</p>
        </div>
        <div class="meta">
          <ion-badge color="success">4.2</ion-badge>
          <span>₹650 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Restaurant Card 5 -->
  <ion-card class="restaurant-card">
    <ion-img src="https://b.zmtcdn.com/data/pictures/0/2200340/704dad0dce6ea06e07b1b58cddf8d93e.jpg?fit=around|750:500&crop=750:500;," class="restaurant-img"></ion-img>
    <ion-card-content>
      <div class="restaurant-details">
        <div class="info">
          <h2>Ziva</h2>
          <p>Amritsar</p>
          <p>Can have quality time here</p>
        </div>
        <div class="meta">
          <ion-badge color="success">3.8</ion-badge>
          <span>₹1500 for 2</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
